[submodule "submodules/cuBQL"]
	path = submodules/cuBQL
	url = https://github.com/ingowald/cuBQL
[submodule "submodules/cudaKDTree"]
	path = submodules/cudaKDTree
	url = https://github.com/ingowald/cudaKDTree
